<div class="section" id="amenagementExt">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Amenagement Extérieur</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-6"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <div class="profile-image-terrassement">
              <a href="#">
                <img src="assets/images/amenagement1.jpg" alt="Image" />
              </a>
            </div>
          </div>
        </div>
        <div
          class="col-md-6"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <p style="margin-top: 30px" class="h7" align="center">
              Multi-compétente, l'équipe de Furnet&Fils est habilitée à réaliser
              tous vos travaux d'aménagements extérieurs, dans la région
              Occitanie. Quels que soient vos besoins et votre budget, faites
              appel à l'un de nos professionnels pour définir votre projet de
              manière personnalisée. Vous êtes un particulier souhaitant
              aménager votre jardin ? Vous êtes un professionnel à la recherche
              d'une solution élégante pour valoriser l'extérieur de votre
              bureau/local ?
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="h5 text-center mb-4 title">
      Des aménagements extérieurs à l'image de vos envies
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-6"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <div class="profile-image-terrassement">
              <a href="#">
                <img src="assets/images/amenagement2.jpg" alt="Image" />
              </a>
            </div>
          </div>
        </div>
        <div
          class="col-md-6"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <p style="margin-top: 30px" class="h7" align="center">
              Rien de tel que d'un véritable savoir-faire pour concrétiser vos
              envies ou vos désirs ? Chez LCFournet, nos professionnels
              qualifiés et formés sont en mesure d'effectuer tous vos types de
              travaux :
            </p>
            <p>
              - Le terrassement d'un terrain pour une piscine/terrasse / les
              travaux de creusement,
            </p>
            <p>- Le déblayage, le transport de terre ou de roche,</p>
            <p>
              - La construction d'une clôture, la réalisation de mur de clôture
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="h5 text-center mb-4 title">Ou encore...</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-6"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <div class="profile-image-terrassement">
              <a href="#">
                <img src="assets/images/amenagement3.jpg" alt="Image" />
              </a>
            </div>
          </div>
        </div>
        <div
          class="col-md-6"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <p>- La pose de muret, l'installation d'un grillage,</p>
            <p>- L'installation d'un grillage,</p>

            <p>- La réalisation et l'aménagement d'une terrasse,</p>
            <p>
              - L'installation d'un abri de jardin, La création d'une allée
              pavée.
            </p>
            <p>- La création d'une allée pavée.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
