<div class="section" id="about">
  <div class="container py-2 cc-experience">
    <div class="h4 text-center mb-4 title">About Me</div>
    <div class="row">
      <ul class="timeline">
        <li>
          <div class="timeline-badge primary">
            <i class="fa fa-user"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-4">
                 <div class="container">
                    <div class="content-center">
                         <div class="profile-image-about">
                         <a href="#">
                            <img src="assets/images/profil_John.jpeg" alt="Image" />
                        </a>
                   </div>
                 </div>
             </div>
           </div>
              <div class="col-lg-6">
                <div style="margin-top: 25px" class="h5 title">
                  Artisan spécialisé dans le terrassement et l'assainissement
                </div>                
                 <p class="h7 mt-0" align="center">
                  Notre entreprise de rénovation à Toulouse possède une philosophie commune à l'ensemble
                  des métiers de l'artisanat : la confiance et le professionnalisme.
                  Nous mettons le client au coeur des projets pour comprendres ses besoins ainsi que ses attentes
                  et y répondre avec les tarifs les plus justes dans les meilleurs délais.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge down">
            <i class="fa fa-handshake-o"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-4">
                <div class="profile-image-icon">
            <a href="#">
              <img src="assets/images/icon1.png" alt="Image" />
            </a>
          </div>
          <div class="h5 title">Devis détaillé</div>
              </div>
               <div class="col-lg-4">
                <div class="profile-image-icon">
            <a href="#">
              <img src="assets/images/icon2.png" alt="Image" />
            </a>
          </div>
          <div class="h5 title">Professionnalisme</div>
              </div>
               <div class="col-lg-4">
                <div class="profile-image-icon">
            <a href="#">
              <img src="assets/images/icon3.png" alt="Image" />
            </a>
          </div>
          <div class="h5 title">Garantie de qualité</div>
              </div>
             
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
