<div class="section" id="about">
  <div class="container py-2 cc-experience">
    <div class="h2 text-center mb-4 title">FOURNET Terrassement</div>
    <div class="h6 text-center mb-4 title">
      Spécialiste de l’aménagement extérieur
    </div>
    <div class="row">
      <ul class="timeline">
        <li>
          <div class="timeline-badge primary">
            <i class="fa fa-user"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-4">
                <div class="container">
                  <div class="content-center">
                    <div class="profile-image-about">
                      <a href="#">
                        <img src="assets/images/logoSociete.png" alt="Image" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div align="center" style="margin-top: 25px" class="h5 title">
                  Artisan spécialisé dans l'aménagement extérieur
                </div>
                <p class="h7 mt-0" align="center">
                  Implantée dans la commune de PEYSSIES depuis 2021, la société
                  Fournet & Fils se spécialise dans les travaux extérieur. Riche
                  d'une équipe polyvalente, l'entreprise a développé un
                  savoir-faire et des compétences précieuses pour accompagner
                  les particuliers et les professionnels dans leurs projets de
                  construction, d'agrandissement ou encore de rénovation.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge down">
            <i class="fa fa-handshake-o"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div align="center" class="col-lg-4">
                <div class="profile-image-icon">
                  <a href="#">
                    <img src="assets/images/icon1.png" alt="Image" />
                  </a>
                </div>
                <div class="h5 title">Devis détaillé</div>
                <div class="h7 title">
                  Je dispose d’un solide savoir-faire et d’un matériel
                  performant pour réaliser de gros travaux.
                </div>
              </div>
              <div align="center" class="col-lg-4">
                <div class="profile-image-icon">
                  <a href="#">
                    <img src="assets/images/icon2.png" alt="Image" />
                  </a>
                </div>
                <div class="h5 title">Professionnalisme</div>
                <div class="h7 title">
                  La réactivité, l’écoute l’accompagnement sont mes mots
                  d’ordre.
                </div>
              </div>
              <div align="center" class="col-lg-4">
                <div class="profile-image-icon">
                  <a href="#">
                    <img src="assets/images/icon3.png" alt="Image" />
                  </a>
                </div>
                <div class="h5 title">Garantie de qualité</div>
                <div class="h7 title">
                  Mon savoir-faire et mon professionnalisme me permettent de
                  garantir des services de qualité.
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
